
<div class="row gutter-10">
  <div class="col-xs-12 col-md-3">
    <div class="filter-category">
      <h1 class="header">
        <i class="ico-category"></i>
        REFINE BY CATEGORY
      </h1>
      <ul class="menu list-unstyled">
        <li><a href="#">All Results</a></li>
        <li><a href="#">Mobiles & Tablets (37)</a></li>
        <li><a href="#">Computers & Laptops (29)</a></li>
        <li><a href="#">TV, Audio / Video, Gaming & Wearables (78)</a></li>
        <li><a href="#">Cameras (31)</a></li>
        <li>...</li>
        <li><a href="#" class="show-more">See More</a></li>
      </ul>

      <h1 class="header">
        BRAND
      </h1>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">

          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>

      <div class="brand-list">
        <ul class="list-unstyled">
          <li><input type="checkbox">&nbsp;Lequip (23)</li>
          <li><input type="checkbox">&nbsp;Samsung (31)</li>
          <li><input type="checkbox">&nbsp;LINE FRIENDS (30)</li>
          <li><input type="checkbox">&nbsp;KitchenArt (29)</li>
          <li><input type="checkbox">&nbsp;Happy call (24)</li>
          <li><input type="checkbox">&nbsp;Yujin (21)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <% 5.times.each do %>
      <div class="card" style="margin-bottom: 5px;">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="http://via.placeholder.com/40x40" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>7mn</p>
          </div>
        </div>
        <div class="card-description">
          <p>NEW ARRIVAL AVAILABLE IN STORE
            ✦WOMEN BOOMER JACKET (97083)
            ✦ Price : 25.50$
            ✦ Color : Same as picture
            ✦ Size : XS, S, M</p>
        </div>
        <div class="card-media">
          <img class="img-responsive img-thumbnail" src="https://s-media-cache-ak0.pinimg.com/736x/35/58/be/3558be7208ab4853aca2616f6909ea92--purple-hoodies-fall-clothes.jpg" alt="">
        </div>
      </div>
      <% end %>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default" style="margin-bottom: 5px;">
      <div class="panel-heading">Member Status</div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="http://www.proflowers.com/blog/wp-content/plugins/pf-flowertypes/image/flower-197343.jpg" style="width:48px" alt="...">
            </a>
          </div>

          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <p style="font-size: 12px;color: #7d7d7d;font-style: italic;">Seller's Products: Best Prices In Singapore</p>
          </div>
        </div>

        <ul>
          <li>Online Status: Offline</li>
          <li>Member Type: Premium</li>
          <li>Registered Date: 26-Jul-2017</li>
          <li>Last Online: 30-Nov</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Contact information</div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>Phone: 098 234 222</li>
          <li>Email: sale@aaa.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>
