<div class="row">
  <div class="col-xs-12 col-md-3">
    <ul class="list-unstyled hidden">
      <li><a href="#">Women’s Clothing</a></li>
      <li><a href="#">Men’s Clothing</a></li>
      <li><a href="#">Phones &amp; Accessories</a></li>
      <li><a href="#">Computer &amp; Office</a></li>
      <li><a href="#">Consumer Electronics</a></li>
      <li><a href="#">Jewelry &amp; Watches</a></li>
      <li><a href="#">Home &amp; Garden, Furniture</a></li>
      <li><a href="#">Bags &amp; Shoes</a></li>
      <li><a href="#">Toys, Kids &amp; Baby</a></li>
      <li><a href="#">Sports &amp; Outdoors</a></li>
      <li><a href="#">Health &amp; Beauty, Hair</a></li>
      <li><a href="#">Automobiles &amp; Motorcycles</a></li>
      <li><a href="#">Home Improvement</a></li>
    </ul>
    <img src="http://www.proflowers.com/blog/wp-content/plugins/pf-flowertypes/image/flower-197343.jpg" class="img-responsive img-thumbnail" alt="">
    <h1>Online clothes</h1>
    <ul class="list-unstyled">
      <li><a href="#">All products</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Galleries</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-6">
    <% 5.times.each do %>
      <div class="card" style="border:1px solid #e4e4e4;padding:15px;margin-bottom:15px;border-radius:3px;background-color:white;">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="http://via.placeholder.com/40x40" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>7mn</p>
          </div>
        </div>
        <div class="card-description">
          <p>NEW ARRIVAL AVAILABLE IN STORE
            ✦WOMEN BOOMER JACKET (97083)
            ✦ Price : 25.50$
            ✦ Color : Same as picture
            ✦ Size : XS, S, M</p>
        </div>
        <div class="card-media">
          <img class="img-responsive img-thumbnail" src="https://s-media-cache-ak0.pinimg.com/736x/35/58/be/3558be7208ab4853aca2616f6909ea92--purple-hoodies-fall-clothes.jpg" alt="">
        </div>
      </div>
      <% end %>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Member Status</div>
      <div class="panel-body">
        <ul>
          <li>Online Status: Offline</li>
          <li>Member Type: Premium</li>
          <li>Registered Date: 26-Jul-2017</li>
          <li>Last Online: 30-Nov</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Contact information</div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>Phone: 098 234 222</li>
          <li>Email: sale@aaa.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>
