html,
body {
  font-family: 'Roboto', sans-serif;
}

#input-search {
  width: 44rem;
}


.brand {
  display: inline-block;
  padding-top: 7px;
  color: #383838;
  font-size: 1.4em;

  img {
    width: 34px;
    margin-right: 1px;
    vertical-align: middle;
  }

  span {
    vertical-align: sub;
  }
}

.card {
  background:white;
  padding:10px;
  border-radius:4px;
  box-shadow:2px 2px 1px #ccc;

  &__header {
    font-weight: bold;
    margin: 6px 0 10px;
    padding: 0;
    border-bottom: 1px solid #ddd;
  }

  &__header > span {
    display: inline-block;
    padding: 5px 28px 5px 0;
    border-bottom: 2px solid #ddd;
  }

  &__product-title {
    position: absolute;
    bottom: 5px;
    display: block;
    margin: 0;
    padding: 10px;
    width: 98.42%;
    color: white;
    background: rgba(0,0,0,0.3);
  }
}

@media (max-width: 480px) {
  .card__product-title {
    width: 97.29%;
  }

  #input-search {
    width: 24rem;
  }

  .brand {
    margin-left: 15px;
  }
}
