// 10px gutter
// http://arnique.net/web-design/58/a-quick-guide-to-changing-bootstraps-gutter-width/
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 [class^="col-"], .gutter-10 [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.main-category {
  padding: 15px;

  span::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: asset-url('icons-set.png');
    background-size: 166px 1954px;
    background-position: 0 -1896px;
    vertical-align: bottom;
    margin-right: 5px;
  }
}

.slick-dots {
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;

  .slick-active > button::before {
    opacity: 1;
  }

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
      }

      button::before {
        font-family: slick;
        font-size: 15px;
        line-height: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        content: "•";
        text-align: center;
        opacity: 0.25;
        color: black;
        -webkit-font-smoothing: antialiased;
      }
    }
}
