// 10px gutter
// http://arnique.net/web-design/58/a-quick-guide-to-changing-bootstraps-gutter-width/
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.main-category {
  padding: 15px;

  span::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: asset-url('icons-set.png');
    background-size: 166px 1954px;
    background-position: 0 -1896px;
    vertical-align: bottom;
    margin-right: 5px;
  }
}
