<div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Phones &amp; Mobiles</a></li>
        <li class="active">Iphone 7</li>
      </ol>
    </div>
</div>

<div class="row gutter-10">
  <div class="col-xs-12 col-md-3">
    <dl class="category-list card hidden-xs hidden-sm">
      <dt class="cate-title cate-less">
      </dt>
	  					  <dd class="list-box">
		            <dl class="son-category ">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=44" qrdata="44" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.1">Consumer Electronics</a>
				              </dt>
		  		  		<dd class="special-son-category">
			<ul>
    			      			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=518" qrdata="518" dir="" data-spm-anchor-id="2114.search0104.3.2">Speakers</a>
										                      </li>
                  					    			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200003109" qrdata="200003109" dir="" data-spm-anchor-id="2114.search0104.3.3">Earphone Accessories</a>
										                      </li>
                  					    			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=63705" qrdata="63705" dir="" data-spm-anchor-id="2114.search0104.3.4">Earphones &amp; Headphones</a>
										                      </li>
                  					    			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200217064" qrdata="200217064" dir="" data-spm-anchor-id="2114.search0104.3.5">Speaker Accessories</a>
										                      </li>
                  					    			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200216593" qrdata="200216593" dir="" data-spm-anchor-id="2114.search0104.3.6">Bluetooth Earphones &amp; Headphones</a>
										                      </li>
                  					    			  			    			  			    			  			            		</ul>
            								<ul class="list-view-more">
    			      			  			    			  			    			  			    			  			    			  			    			  		                      <li>
		                        <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200216605" qrdata="200216605" dir="" data-spm-anchor-id="2114.search0104.3.7">Headphone/Headset</a>
										                      </li>
                  					    			  		                      <li>
		                        <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200216686" qrdata="200216686" dir="" data-spm-anchor-id="2114.search0104.3.8">Earphones</a>
										                      </li>
                  					    			  		                      <li>
		                        <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200216654" qrdata="200216654" dir="" data-spm-anchor-id="2114.search0104.3.9">Phone Earphones &amp; Headphones</a>
										                      </li>
                  					            		</ul>
					</dd>
					<dd class="view-more-box">
				<a class="view-more view-more-btn" href="javascript:void(0);" data-spm-anchor-id="2114.search0104.3.10"> View More </a>
			</dd>
					  </dl>
      </dd>
	  					  <dd class="list-box">
		            <dl class="son-category ">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=509" qrdata="509" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.11">Cellphones &amp; Telecommunications</a>
				              </dt>
		  		  		<dd class="special-son-category">
			<ul>
    			      			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200216991" qrdata="200216991" dir="" data-spm-anchor-id="2114.search0104.3.12">Phone Bumper</a>
										                      </li>
                  					    			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200216980" qrdata="200216980" dir="" data-spm-anchor-id="2114.search0104.3.13">Phone Pouch</a>
										                      </li>
                  					    			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200216977" qrdata="200216977" dir="" data-spm-anchor-id="2114.search0104.3.14">Flip Cases</a>
										                      </li>
                  					    			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200216981" qrdata="200216981" dir="" data-spm-anchor-id="2114.search0104.3.15">Fitted Cases</a>
										                      </li>
                  					            		</ul>
            							</dd>
					  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=7" qrdata="7" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.16">Computer &amp; Office</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
		            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=34" qrdata="34" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.17">Automobiles &amp; Motorcycles</a>
				              </dt>
		  		  		<dd class="special-son-category">
			<ul>
    			      			  		                      <li>
		                      	<a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=200000597" qrdata="200000597" dir="" data-spm-anchor-id="2114.search0104.3.18">Car Interior Mouldings</a>
										                      </li>
                  					            		</ul>
            							</dd>
					  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=13" qrdata="13" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.19">Home Improvement</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=15" qrdata="15" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.20">Home &amp; Garden</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=18" qrdata="18" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.21">Sports &amp; Entertainment</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=502" qrdata="502" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.22">Electronic Components &amp; Supplies</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=100003070" qrdata="100003070" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.23">Men's Clothing &amp; Accessories</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=66" qrdata="66" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.24">Beauty &amp; Health</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=39" qrdata="39" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.25">Lights &amp; Lighting</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=100003109" qrdata="100003109" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.26">Women's Clothing &amp; Accessories</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=1509" qrdata="1509" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.27">Jewelry</a>
				              </dt>
		  		  	  </dl>
      </dd>
	  					  <dd class="list-box">
				            <dl class="son-category son-category-show">
              <dt class="sn-parent-title">
                <a href="//www.aliexpress.com/w/wholesale-bose.html?site=glo&amp;initiative_id=AS_20170812084515&amp;SearchText=bose&amp;CatId=26" qrdata="26" dir="" class="current-cate" data-spm-anchor-id="2114.search0104.3.28">Toys &amp; Hobbies</a>
				              </dt>
		  		  	  </dl>
      </dd>
	                <dd class="view-more-box">
			<a class="view-few-cates" href="javascript:void(0);" data-spm-anchor-id="2114.search0104.3.29">See Fewer Categories</a>
        </dd>
      </dl>
  </div>

  <div class="col-xs-12 col-md-7">
    <div class="row gutter-10">
      <div class="col-xs-12">
        <div class="filter" style="margin-bottom: 10px;">


          <span>Sort By: </span>
          <div class="btn-group btn-group-sm" aria-label="...">
            <button type="button" class="btn btn-default">Best matches!</button>

            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Orders
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
              </ul>
            </div>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Orders
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
              </ul>
            </div>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Orders
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
              </ul>
            </div>
          </div>
          <!-- end sort -->

          <div class="pull-right hidden-xs">
            <span>View by: </span>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </button>
          </div>
        </div>

      </div>
    </div>
    <% 20.times.each do %>
      <% img_url = ["17-08-02/s-40008-toyota-priu90-c.jpg",
                    "17-05-05/s-159263-816839-c.jpg",
                    "17-07-14/s-114796-lc271-c.jpg",
                    "17-08-04/s-106163-31-c.jpg",
                    "17-08-11/s-215632-asia71-toyo14-c.jpg"].sample %>

      <div class="card" style="margin-bottom: 5px;">
        <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img style="width: 120px" class="media-object" src="//images.khmer24.com/<%= img_url %>" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"> Huawei P10 Gold,Black,Blue Color Launched in Cambodia </h4>
            <p>ផ្ទះ118 ផ្លូវ 230 សង្កា​ត់ផ្សារដើមគ ខណ្ឌទូលគោក ភ្នំព​េញ(ចំងាយប្រហែល 130 ម៉ែតព​ីស្តុបកោសដូង ជាប់នឹងរបង ម៉ុង ឌីយ...... </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
