<div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Phones &amp; Mobiles</a></li>
        <li class="active">Iphone 7</li>
      </ol>
    </div>
</div>

<div class="row gutter-10">
  <div class="col-xs-12 col-md-3">
    content left
  </div>

  <div class="col-xs-12 col-md-6">
    <% 20.times.each do %>
      <% img_url = ["17-08-02/s-40008-toyota-priu90-c.jpg",
                    "17-05-05/s-159263-816839-c.jpg",
                    "17-07-14/s-114796-lc271-c.jpg",
                    "17-08-04/s-106163-31-c.jpg",
                    "17-08-11/s-215632-asia71-toyo14-c.jpg"].sample %>
                    
      <div class="card" style="margin-bottom: 5px;">
        <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img style="width: 120px" class="media-object" src="//images.khmer24.com/<%= img_url %>" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"> Huawei P10 Gold,Black,Blue Color Launched in Cambodia </h4>
            <p>ផ្ទះ118 ផ្លូវ 230 សង្កា​ត់ផ្សារដើមគ ខណ្ឌទូលគោក ភ្នំព​េញ(ចំងាយប្រហែល 130 ម៉ែតព​ីស្តុបកោសដូង ជាប់នឹងរបង ម៉ុង ឌីយ...... </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-2">
    content right
  </div>
</div>
